.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.production
.DS_Store

node_modules

ios
android

.expo
.expo-env.d.ts
.expo-env.d.ts.map
.expo-env.d.ts.map.gz

